hand_venv/
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
Share
Edit
Follow

# Raw training image data
data/train/img/
data/test/img/
data/train/img_from_video/*

# MMPose config files
#*.pth
model_config/checkpoints

# Custom files
runs/
step01_annotate_image_mmpose/_disabled/

step03_yolo_phone_detection/runs/
step03_yolo_phone_detection/Phone-detection-1
step03_yolo_phone_detection/Phone-detection-2
step03_yolo_phone_detection/yolo11n.pt

data/blob/videos/*
data/yolo/*

# MacOS
.DS_Store
