hand_venv/
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
Share
Edit
Follow

# Raw training image data
data/train/img/
data/test/img/
data/train/img_from_video/*
data/yolo_dataset/*
data/yolo_dataset_runtime/*
!data/yolo_dataset_runtime/.gitkeep
data/blob/videos/*
data/blob/yolo_videos/*
data/blob/test/*
data/yolo/*


# MMPose config files
#*.pth
model_config/checkpoints/*
!model_config/checkpoints/.gitkeep

# Custom files
runs/
step01_annotate_image_mmpose/_disabled/
step02_train_model_cnn/archived_models/*
!step02_train_model_cnn/archived_models/.gitkeep
step02_train_model_cnn/logs/*
!step02_train_model_cnn/logs/.gitkeep
step02_train_model_cnn/ablation_study/ablation_models/*
!step02_train_model_cnn/ablation_study/ablation_models/.gitkeep
step03_yolo_phone_detection/pvalue.py
step03_yolo_phone_detection/non_tuned/*
step03_yolo_phone_detection/roboflow_dataset_download/*
step03_yolo_phone_detection/yolo11n.pt

# MacOS
.DS_Store
/step03_yolo_phone_detection/Cell-Phone-1/
